@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_LayoutSuperPig.cshtml";
}
<div style="width: 100%;background-color:#F7F1F1;height: 400px;">
    <div>
        <p>网站设计者;飞天猪</p>
    </div>
</div>
