@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutSuperPig.cshtml";
}
<div style="width: 100%;background-color:#F7F1F1;height: 400px;">
    <div class="left">左边</div>
    <div class="right">@DateTime.Now.ToString()</div>
</div>

