
<div class="header">
    <header>
    <div class="wrapper">
        <h1><a href="#" id="logo">SuperPig Blog</a></h1>
        <nav>
            <ul id="menu">
                <li id="nav1" class="active"><a href="/test/index">Home<span>首页</span></a></li>
                <li id="nav2"><a href="/test/News">News<span>新闻</span></a></li>
                <li id="nav3"><a href="/test/MVC">MVC<span>mvc</span></a></li>
                <li id="nav4"><a href="/test/NET">DotNet<span>dotnet</span></a></li>
                <li id="nav5"><a href="/test/about">Contacts<span>联系</span></a></li>
            </ul>
        </nav>
    </div></header>
</div>

